In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\darkt\Documents\GitHub\ppt21\title.basics.tsv\title_basics.tsv", sep='\t')

C:\Users\darkt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
rating = pd.read_csv(r"C:\Users\darkt\Documents\GitHub\ppt21\title.ratings.tsv\title_ratings.tsv", sep='\t')

In [3]:
rating.loc[rating['averageRating'] != '\\N']

            tconst  averageRating  numVotes
0        tt0000001            5.7      1823
1        tt0000002            6.0       233
2        tt0000003            6.5      1576
3        tt0000004            6.1       151
4        tt0000005            6.2      2402
...            ...            ...       ...
1191171  tt9916682            5.6         5
1191172  tt9916690            6.6         5
1191173  tt9916720            5.3       136
1191174  tt9916766            7.1        17
1191175  tt9916778            7.5        31

[1191176 rows x 3 columns]

In [4]:
df = df.loc[(df['titleType'] == 'movie') & (df['runtimeMinutes'] != '\\N') ]
df = df.loc[(df['startYear'] != "\\N") & (df['endYear'] == "\\N")]
df['startYear'] = pd.to_numeric(df["startYear"])
df = df.loc[df['startYear'] >= 2000]

In [5]:
df.loc[df['primaryTitle'] != df['originalTitle']]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11059,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019,\N,67,Drama
61125,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,Drama
91086,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,\N,74,"Horror,Music,Thriller"
98065,tt0100275,movie,The Wandering Soap Opera,La telenovela errante,0,2017,\N,80,"Comedy,Drama,Fantasy"
116013,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000,\N,98,"Drama,Romance"
...,...,...,...,...,...,...,...,...,...
8316658,tt9914254,movie,A Cherry Tale,Kirsebæreventyret,0,2019,\N,85,Documentary
8316988,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,\N,74,Drama
8317417,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,\N,97,"Comedy,Drama,Fantasy"
8317558,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama
8317651,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"

In [6]:
temp = pd.merge(df, rating, how = 'inner', on = 'tconst')

In [8]:
temp.loc[temp['originalTitle'].str.contains('Harry Potter')]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
1900,tt0241527,movie,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,0,2001,\N,152,"Adventure,Family,Fantasy",7.6,699909
5271,tt0295297,movie,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,0,2002,\N,161,"Adventure,Family,Fantasy",7.4,582697
5941,tt0304141,movie,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,0,2004,\N,142,"Adventure,Family,Fantasy",7.9,580764
7678,tt0330373,movie,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,0,2005,\N,157,"Adventure,Family,Fantasy",7.7,574662
10530,tt0373889,movie,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,0,2007,\N,138,"Action,Adventure,Family",7.5,535576
13932,tt0417741,movie,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince,0,2009,\N,153,"Action,Adventure,Family",7.6,499999
25136,tt0926084,movie,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows: Part 1,0,2010,\N,146,"Adventure,Fantasy,Mystery",7.7,503271
38121,tt1201607,movie,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,0,2011,\N,130,"Adventure,Fantasy,Mystery",8.1,803440
60271,tt1781796,movie,"Creating the World of Harry Potter, Part 4: So...","Creating the World of Harry Potter, Part 4: So...",0,2010,\N,54,Documentary,7.7,95
62819,tt1867094,movie,The Seekers Guide to Harry Potter,The Seekers Guide to Harry Potter,0,2010,\N,75,Documentary,3.0,29
122313,tt7783322,movie,Harry Potter: A History of Magic,Harry Potter: A History of Magic,0,2017,\N,59,Documentary,7.1,316
125790,tt8443702,movie,Harry Potter and the Untold Stories of Hogwarts,Harry Potter and the Untold Stories of Hogwarts,0,2012,\N,58,"Adventure,Comedy,Fantasy",6.8,9